<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Basics</title>

    <style>
        .box{
            background-color: purple;
            height: 200px;
            width: 200px;
        }
        .box_2{
            background-color: red;
            height: 200px;
            width: 200px;
        }
        .box_3{
            background-color: blue;
            height: 100px;
            width: 100px;
        }
        .box_4{
            background-color: green;
            height: 50px;
            width: 50px;
        }
        [v-cloak]{
            display: none;
        }

        input{
            margin: 10px;
            display: block;
        }
    </style>
    

    
</head>
<body>
    <div id="app" v-cloak> <!-- hides the frame when refreshing the page where all the html is shown without the JS and vue logic being active -->
        <login-form/> <!-- the name of the customly created form down in the vue script part-->
        


        <hr />

        <button v-on:click = "isVisible = true">Show Box</button> <!-- v-on:event used to create custom or standard browser events-->
        <button @click.prevent.stop = "toggleBox">Toggle Box</button> <!-- @event is the same as v-on and you can give it a name to connect it to a JS function-->

        <div v-if="isVisible" class="box"></div> <!-- if the statement is false the box will not be renderd/displaed not even if inspected-->
        

        <!-- in general you can add as many modifiers to the @click/@keyup/@whatever methods as you want/need, most of them will be shown by autocomplete so you can play arround-->


    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!-- all that it takes to use vue in the application -->
    <script> // for custom code


        let app = Vue.createApp({ // the import gives us the Vue variable and .createApp creates the Vue Application and we can pass it stuff in the options object 
            data: function(){     // the options object is the {} inside () and any var or function thats gona be used in the application lives on this object (let app)
                return{
                    greeting: 'Hello Vue 3!', // the data function returns a variable with what ever value
                    info: 5,
                    isVisible: false      
                }
            },
            methods: { // here i can create as many functions/methods as i want like in the data part i can add as many variables as i want
                toggleBox(){ // methods writen in here are availabe everywhere in the program
                    this.isVisible = !this.isVisible
                },
                greet(greeting){
                    console.log(greeting)
                }
            }
        })

        app.component('login-form', { // a custom form that was meshioned in the html part -> you can use all the other vue parts/options like data and methods also in the component part
            // template is the only required option and serves as a possible html body which lets define a structure that will be shown as the visual html code 
            // Info not the standart way of doing it as here you don't have the autocomplete or error corretion features you would normaly have
            // .prevent is used so the entire page isn't revreshed upon clicking submit
            template: ` 
                <form @submit.prevent="handleSubmit">
                    <h1> {{ titel }} </h1>
                    <input type="email" v-model="email"/>
                    <input type="password" v-model="password"/>
                    <button>Log in</button>
                </form>
            `,
            data(){
                return{
                    titel: 'Login Form',
                    email: '',
                    password: ''
                }
            },
            methods: {
                handleSubmit(){
                    console.log(this.email, this.password)
                }
            }
        })


        app.mount('#app') // used to mount the vue application somewhere in the html part -> so we can use the vue part in the html part 
                          // with referencing 'id="app"' and '#app' everything in the vue 'let app' part can be used and interact in the marked "app" html part
    </script>

</body>
</html>