<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Basics</title>

    <style>
        .box{
            background-color: purple;
            height: 200px;
            width: 200px;
        }
        .box_2{
            background-color: red;
            height: 200px;
            width: 200px;
        }
        .box_3{
            background-color: blue;
            height: 100px;
            width: 100px;
        }
        .box_4{
            background-color: green;
            height: 50px;
            width: 50px;
        }
        [v-cloak]{
            display: none;
        }
    </style>
    

    
</head>
<body>
    <div id="app" v-cloak> <!-- hides the frame when refreshing the page where all the html is shown without the JS and vue logic being active -->
        
        {{ greeting }} </br> <!-- {{}} is used to acces variables from the JS/vue part -> stuff in the {{}} will be parsed as JS by vue -->
        
        {{ info }} </br>
                                <!-- Vue.js directives offer a way to connect html elements with the JS part-->
        <input v-model="info"/> <!-- the directives are like html atributes but start with v- , now we can bind the value from the input by giving the directive a variable name -->
                                <!-- now the info value is shown inside the input field and as value inside the input is changed the entire value of 'info' changes -->
                                <!-- thats called two way databinding and is handled in Vue with that v-model directive -->

        <hr />

        <div v-if="isVisible" class="box"></div> <!-- if the statement is false the box will not be renderd/displaed not even if inspected-->
        <div v-else-if="isVisible_2" class="box_3"></div> <!-- else if and else also exist opening up the way for more logic-->
        <div v-else class="box_4"></div>
        </br>
        <div v-show="isVisible" class="box_2"></div> <!-- works almost like the if only diffrence is that it hides the object but still rendes it so you can see it with f12 and inspecting it  -->
                                                     <!-- if is most of the times better if you just want to show or hide something important depending on a value-->
                                                     <!-- but show is more efficent if you have a reason to show and hide the object multiple times -->

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!-- all that it takes to use vue in the application -->
    <script> // for custom code


        let app = Vue.createApp({ // the import gives us the Vue variable and .createApp creates the Vue Application and we can pass it stuff in the options object 
            data: function(){     // the options object is the {} inside () and any var or function thats gona be used in the application lives on this object (let app)
                return{
                    greeting: 'Hello Vue 3!', // the data function returns a variable with what ever value
                    info: 5,
                    isVisible: false,
                    isVisible_2: false             
                }
            }
            /*numb: function(){ I tryed to make a function on my own but it seems every variable you want to give to the html part need to be in the data function
                return{
                    info: 5
                }
            }*/
        })
        app.mount('#app') // used to mount the vue application somewhere in the html part -> so we can use the vue part in the html part 
                          // with referencing 'id="app"' and '#app' everything in the vue 'let app' part can be used and interact in the marked "app" html part
    </script>

</body>
</html>