<!DOCTYPE html>
<html>
  <head>
    <title>Splendid Food</title>
    <link rel="stylesheet" href="styles/style.min.css">
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/ico">
  </head>
  <body>

    <div id="app">

      <header class="top-bar spread">
        <nav class="top-bar-nav">
          <a href="#" class="top-bar-link">
            <i class="icofont-spoon-and-fork"></i>
            <span>Home</span>
          </a>
          <a href="views/products.html" class="top-bar-link">
            <span>Products</span>
          </a>
          <a href="views/past-orders.html" class="top-bar-link">
            <span>Past Orders</span>
          </a>
        </nav>
        <a @click="toggleSidebar" href="#" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Cart ({{ totalQuantity}})</span>
        </a>
      </header>

      <div class="splash-container">
        <div class="splash">
          <h1>Splendid Food</h1>
        </div>
      </div>

      <main class="wrapper">

        <h2>Recommended</h2>

        <div class="recommended">


          <div v-for="(product, i) in inventory.slice(0,3)" :key="product.id" class="card"> <!-- getting all the products from the list but only showing the first 3 as well as adding a key as we are looping (so we know in which loop we are)-->
            <div class="card-title">
              {{ product.name }} <!-- the name of the item -->
            </div>
            <div class="card-body">
              <i class="icofont-10x icofont-{{ product.icon }}"></i> <!-- the icon of the item -->
              <form>
                <div class="row">
                  <div class="cell">
                    <label>Type:</label>
                  </div>
                  <div class="cell">
                    <em>{{ product.type }}</em>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Price:</label>
                  </div>
                  <div class="cell">
                    ${{ product.price.USD}}
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Quantity:</label>
                  </div>
                  <div class="cell">
                    <input type="number" v-model.number="product.quantity"> <!--  -->
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button @click="addToCart(product.name, i)" class="btn btn-light"> <!-- to call the add method and update the -->
                Add to cart
              </button>
            </div>
          </div>

        </div>

      </main>

      <sidebar  
        v-if="showSidebar" 
        :toggle="toggleSidebar"
        :cart="cart"
        :inventory="inventory"
        :remove="removeItem"
      /> 

      <!-- we can't call the toggleSidebar methode in a component that we create in this file so we have to hand over the methode 
           don't forget the : bevor toggle so it uses it saved as a variable containing the methode and not just as a string 
           in order to get the value that is added in the input file of the main layout into the cart/sidebar we need a variable (cart)
      -->

      <footer>
      </footer>

    </div>
      
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"> </script> <!-- local js import -->
  </body>
</html>
